<html>
    <head>
        <title>message board | about</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/client/app.js" defer></script>
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a href="/views/index.html">messages</a></h2>
            <h2><a class="current" href="/views/about.html">about</a></h2>
            <h2><a href="/views/most-liked.html">most liked</a></h2>
        </div>
        <div id="main">
            <h2>about</h2>
            <p><i>message board</i> is a simple message board application built with Node.js, Express, and MongoDB.</p>
            <p>you can post public messages by any name.</p>
            <p>so far, <span id="num-posts"><!-- this will be populated by app.js --></span> messages have been posted. super slay.</p>
            <img src="/resources/cat.jpg" alt="cat" id="cat">
        </div>
    </body>
</html>
