<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>message board | messages</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="/js/app.js" defer></script>
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a class="current" href="/views/index.html">messages</a></h2>
            <h2><a href="/views/about.html">about</a></h2>
            <h2><a href="/views/most-liked.html">most liked</a></h2>
        </div>
        <div id="main">
            <h2>messages</h2>
            <form action="add-post" method="post">
                <input type="text" name="sender" placeholder="name" required />
                <input
                    type="text"
                    name="content"
                    placeholder="message"
                    required
                />
                <button>post</button>
            </form>
            <div id="posts"></div>
            <% if (numPosts > 0) { %>
            <p>
                (<a href="/?limit=<%= currentLimit + 10 %>">...<%=numPosts%> more posts</a>)
            </p>
            <% } %>
        </div>
    </body>
</html>
