<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>message board | messages</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="/client/app.js" defer></script>
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a class="current" href="/views/index.html">messages</a></h2>
            <h2><a href="/views/about.html">about</a></h2>
            <h2><a href="/views/most-liked.html">most liked</a></h2>
        </div>
        <div id="main">
            <h2>messages</h2>
            <form>
                <input type="text" id="message-form-sender" placeholder="name" required />
                <input
                    type="text"
                    id="message-form-content"
                    placeholder="message"
                    required
                />
                <button onclick="postMessageFromForm()">post</button>
            </form>
            <div id="index-posts"></div> <!-- this will be populated by app.js -->
            <p id="index-load-more" style="display: none;">
                (<a href="#" id="index-load-more-link">...load more posts</a>)
            </p>
        </div>
    </body>
</html>
