<html>
    <head>
        <title>message board | most liked</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/app.js" defer></script>
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a href="/views/index.html">messages</a></h2>
            <h2><a href="/views/about.html">about</a></h2>
            <h2><a class="current" href="/views/most-liked.html">most liked</a></h2>
        </div>
        <div id="main">
            <h2>most liked</h2>
            <div id="most-liked-posts"></div> <!-- this will be populated by app.js -->
            <p id="most-liked-load-more" style="display: none;">
                (<a href="#" id="most-liked-load-more-link">...load more posts</a>)
            </p>
        </div>
    </body>
</html>
